.idea/
.dart_tool/
.pub/
.gradle/
.symlinks/
doc/
build/
android/libs/
android/src/main/jniLibs/
xcuserdata/
Pods/

*.iml
*.xcworkspace
.packages
.metadata
pubspec.lock
Podfile.lock
local.properties
.flutter-plugins
.flutter-plugins-dependencies

example/android/gradle/wrapper/gradle-wrapper.jar
example/android/gradlew
example/android/gradlew.bat
GeneratedPluginRegistrant.*

example/ios/Flutter/App.framework
example/ios/Flutter/Flutter.framework
example/ios/Flutter/Flutter.podspec
example/ios/Flutter/Generated.xcconfig
example/ios/Flutter/flutter_export_environment.sh
